<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- ============ Meta Tags ============ -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Construction Business HTMl Template">
        <!-- ========== Page Title ========== -->
        <title>Construction Business HTMl Template</title>
        <!-- ========== Favicon Icon ========== -->
        <!-- <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon"> -->
        <!--========== All css here ================-->
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/default.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


  <!-- ==================================================
							header-top-area
      ================================================== -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="topbar-left">
                            <p>Welcome To Techoners</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <!-- ==================================================
							End-header-top-area
      ================================================== -->


  <!-- ==================================================
							menu-area
      ================================================== -->
		<header id="main-menu">
			<div class="container">
				<div class="row">
					<nav id='main-nav'>
						<div class="logo"><a href="index.html"><img src="assets/img/logo.png" alt="logo"></a></div>
						<div id="head-mobile"></div>
						<div class="button"></div>
						<ul>
							<li class='active'><a href='#'>HOME</a></li>
							<li><a href='#'>ABOUT US</a></li>
							<li><a href='#'>SERVICES</a>
								<ul>
								<li><a href='#'>SERVICES 1</a>
								<ul>
									<li><a href='#'>Sub SERVICES</a></li>
									<li><a href='#'>Sub SERVICES</a></li>
								</ul>
								</li>
								<li><a href='#'>SERVICES 2</a>
								<ul>
									<li><a href='#'>Sub SERVICES</a></li>
									<li><a href='#'>Sub SERVICES</a></li>
								</ul>
								</li>
								</ul>
							</li>
							<li><a href='#'>PROJECTS</a>
								<ul>
									<li><a href='#'>PROJECTS 1</a></li>
									<li><a href='#'>PROJECTS 2</a></li>
								</ul>
							</li>
							<li><a href='#'>PAGE</a></li>
							<li><a href='#'>BLOG</a>
								<ul>
									<li><a href='#'>BOLG</a></li>
									<li><a href='#'>BLOG SINGLE</a></li>
								</ul>
							</li>
							<li><a href='#'>CONTACT</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

  <!-- ==================================================
							End menu-area
      ================================================== -->


  <!-- ==================================================
							welcome-area
      ================================================== -->
	<section class="welcome-area text-center">
	  	<div class="overlay">
		  	<div class="container">
		  		<div class="row">
		  			<div class="col-lg-12">
		  				<div class="welcome-text">
		  					 <h2 class="sm-txt">We provide construction</h2>
		  					 <h1 class="lg-txt">WE WILL BE HAPPY <br>TO TAKE CARE OF YOUR WORK</h1>
		  					 <a href="#" class="tec-btn">
		                        <div class="btn-front">Read more</div>
		                        <div class="btn-back">Read more</div>
		                    </a>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
	  	</div>
	</section>

	  <!-- ==================================================
							End welcome-area
      ================================================== -->

	  <!-- ==================================================
							About-area
      ================================================== -->

    <section class="about-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="about-content">
	                    <div class="about-inner">
	                        <h3>A Construction firm is a business of one or more experts.</h3>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate est laborum eius distinctio. Fugit consequatur necessitatibus sit esse eligendi enim quos quia, quae praesentium natus vero adipisci, nulla iure perspiciatis vero adipisci, nulla iure perspiciatis!</p>
	                        <a href="#" class="tec-btn">
		                        <div class="btn-front">GET IN TOUCH</div>
		                        <div class="btn-back">GET IN TOUCH</div>
		                    </a>
	                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="shape">
                        <div class="about-carousel owl-carousel">
                            <div class="item">
                                <img src="assets/img/about-slide/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/img/about-slide/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/img/about-slide/slide-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	  <!-- ==================================================
							End About-area
      ================================================== -->


	  <!-- ==================================================
							service-area
      ================================================== -->

	<section class="service-area ptb-80">
		<div class="container">
			<div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Our <span class="color">Services</span></h2>
                        <div class="title-border"></div> 
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-lg-6 pr-0 plr-xs-15 mb-xs-30">
					<div class="service-block d-flex flex-md-row flex-column">
						<div class="half-width service-img service-img1">
						</div>
						<div class="p-20 text-box d-flex flex-column half-width text-center text-md-left">
							<div class="service-items-box">
								<h3><a href="#">DESIGN-BUILD</a></h3>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quia officiis natus similique doloribus adipisci dicta nulla assumenda alias.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 pl-0 plr-xs-15 mb-xs-30">
					<div class="service-block d-flex flex-md-row flex-column">
						<div class="half-width service-img service-img2 order-sm-0 order-md-1 order-lg-0">
						</div>
						<div class="p-20 text-box d-flex flex-column half-width text-center text-lg-left text-md-right">
							<div class="service-items-box">
								<h3><a href="#">CONSTRUCTION MANAGEMENT</a></h3>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quia officiis natus similique doloribus adipisci dicta nulla assumenda alias.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 pr-0 plr-xs-15 mb-xs-30">
					<div class="service-block d-flex flex-md-row flex-column">
						<div class="half-width service-img service-img3 order-lg-1">
						</div>
						<div class="p-20 text-box d-flex flex-column half-width text-sm-center text-lg-right text-md-left">
							<div class="service-items-box">
								<h3><a href="#">METAL BUILDING SERVICES</a></h3>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quia officiis natus similique doloribus adipisci dicta nulla assumenda alias.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 pl-0 plr-xs-15 mb-xs-30">
					<div class="service-block d-flex flex-md-row flex-column">
						<div class="half-width service-img service-img4 order-md-1">
						</div>
						<div class="p-20 text-box d-flex flex-column half-width text-center text-md-right">
							<div class="service-items-box">
								<h3><a href="#">General Contracting</a></h3>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quia officiis natus similique doloribus adipisci dicta nulla assumenda alias.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	  <!-- ==================================================
							end service-area
      ================================================== -->


	  <!-- ==================================================
							project-area
      ================================================== -->
      
    <section class="projects-area pt-80 pb-50">
        <div class="container">
			<div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Our Project</h2>
                        <div class="title-border"></div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="projects-filter">
                        <li class="active" data-filter="all">All</li>
                        <li data-filter=".green-house">GREEN HOUSE</li>
                        <li data-filter=".building">BUILDING</li>
                        <li data-filter=".architecture">ARCHITECTURE</li>
                        <li data-filter=".construction">CONSTRUCTION</li>
                    </ul>
                </div>
            </div> 
            <div class="row project-list">
                <div class="col-lg-4 col-md-6 architecture building">
                    <div class="box">
                        <img src="assets/img/projects/1.jpg" alt="">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 building construction green-house">
                    <div class="box">
                        <img src="assets/img/projects/2.jpg" alt="">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 architecture construction green-house">
                    <div class="box">
                        <img src="assets/img/projects/3.jpg" alt="">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 building green-house">
                    <div class="box">
                        <img src="assets/img/projects/4.jpg" alt="">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 architecture construction green-house">
                    <div class="box">
                        <img src="assets/img/projects/5.jpg" alt="">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 green-house building">
                    <div class="box">
                        <img src="assets/img/projects/6.jpg" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>

	  <!-- ==================================================
							end portfolio-area
      ================================================== -->


	  <!-- ==================================================
							 cta-area
      ================================================== -->


	<section class="cta-area ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9 col-md-8">
                    <div class="cta-text">
                        <h2>Needs experience business consultant?</h2>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-4 d-flex align-items-center justify-content-md-end mt-xs-40">
                    <div class="cta-button text-md-right">
                        <a href="#" class="tec-btn">
	                        <div class="btn-front">GET A QUOTE</div>
	                        <div class="btn-back">GET A QUOTE</div>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

	  <!-- ==================================================
							end cta-area
      ================================================== -->


	  <!-- ==================================================
							 testimonial-area
      ================================================== -->
		
	<section class="testimonial-area ptb-80">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="section-title">
						<h2>WHAT OUR CLIENT SAYS</h2>
						<div class="title-border"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="testimonial-carousel owl-carousel">
						<div class="testimonial">
		                    <div class="img">
		                        <img src="assets/img/testimonial/1.jpg" alt="" />
		                    </div>
		                    <h3 class="title">WILLIAM KRAUSE</h3>
		                    <span class="position">CAM Gentle Co</span>
		                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit Similique itaque.</p>
		                    <div class="testimonial-content">
		                        <ul class="rating">
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                        </ul>
		                        <ul class="social-links">
		                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
		                        </ul>
		                    </div>
		                </div>
						<div class="testimonial">
		                    <div class="img">
		                        <img src="assets/img/testimonial/1.jpg" alt="" />
		                    </div>
		                    <h3 class="title">ASHLEY SOLOMON</h3>
		                    <span class="position">Manager</span>
		                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit Similique itaque</p>
		                    <div class="testimonial-content">
		                        <ul class="rating">
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                        </ul>
		                        <ul class="social-links">
		                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
		                        </ul>
		                    </div>
		                </div>
						<div class="testimonial">
		                    <div class="img">
		                        <img src="assets/img/testimonial/1.jpg" alt="" />
		                    </div>
		                    <h3 class="title">JERRY SKINNER</h3>
		                    <span class="position">CAM Gentle Co</span>
		                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit Similique itaque.</p>
		                    <div class="testimonial-content">
		                        <ul class="rating">
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                            <li class="fa fa-star"></li>
		                        </ul>
		                        <ul class="social-links">
		                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
		                        </ul>
		                    </div>
		                </div>
					</div>
				</div>
			</div>
		</div>
	</section>

	  <!-- ==================================================
							end testimonial-area
      ================================================== -->


	  <!-- ==================================================
							team-area
      ================================================== -->
    <section class="team-area">
        <div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="section-title">
						<h2>OUR TEAM MEMBER</h2>
						<div class="title-border"></div>
					</div>
				</div>
			</div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member">
                        <div class="img">
                            <img src="assets/img/team/1.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3 class="title"><a href="#">Elizabeth Jones</a></h3>
                            <span class="position">Manager Human resources</span>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-skype"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member">
                        <div class="img">
                            <img src="assets/img/team/2.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3 class="title"><a href="#">Tommy Wood</a></h3>
                            <span class="position">Maketing Manager</span>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-skype"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member">
                        <div class="img">
                            <img src="assets/img/team/3.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3 class="title"><a href="#">Danny Burton</a></h3>
                            <span class="position">Art Director</span>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-skype"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member">
                        <div class="img">
                            <img src="assets/img/team/4.jpg" alt="">
                        </div>
                        <div class="team-content">
                            <h3 class="title"><a href="#">Danny Burton</a></h3>
                            <span class="position">Senior Desig</span>
                            <ul class="social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-skype"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	  <!-- ==================================================
							end team-area
      ================================================== -->

	  <!-- ==================================================
							blog-area
      ================================================== -->
      <section class="ptb-80">
         <div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="section-title">
						<h2>OUR BLOG</h2>
						<div class="title-border"></div>
					</div>
				</div>
			</div>
            <div class="row">
               <div class="col-lg-4 col-md-6">
	               <div class="news-column">
	                  <a href="#"><img src="assets/img/projects/2.jpg" class="img-responsive" alt="news-image"> </a>
	                  <div class="author">
	                     <div class="news-time">
	                        <h4>06</h4>
	                        <span>Nov</span>
	                     </div>
	                     <ul>
	                        <li>By : admin</li>
	                        <li>Comments : 2</li>
	                     </ul>
	                  </div>
	                  <h5><a href="#">FIGHT ANOTHER DAY AS NEW LEADERSHIP SHAVE.</a></h5>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint rerum sapiente itaque reprehenderit est quidem adipisci amet.</p>
	               </div>
               </div>
               <div class="col-lg-4 col-md-6">
	               <div class="news-column">
	                  <a href="#"><img src="assets/img/projects/3.jpg" class="img-responsive" alt="news-image"> </a>
	                  <div class="author">
	                     <div class="news-time">
	                        <h4>05</h4>
	                        <span>Nov</span>
	                     </div>
	                     <ul>
	                        <li>By : admin</li>
	                        <li>Comments : 3</li>
	                     </ul>
	                  </div>
	                  <h5><a href="#">HEADING FROM SOCIAL BUSINESS CAPITAL.</a></h5>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint rerum sapiente itaque reprehenderit est quidem adipisci amet.</p>
	               </div>
               </div>
               <div class="col-lg-4 col-md-6">
	               <div class="news-column">
	                  <a href="#"><img src="assets/img/projects/4.jpg" class="img-responsive" alt="news-image"> </a>
	                  <div class="author">
	                     <div class="news-time">
	                        <h4>04</h4>
	                        <span>Nov</span>
	                     </div>
	                     <ul>
	                        <li>By : admin</li>
	                        <li>Comments : 5</li>
	                     </ul>
	                  </div>
	                  <h5><a href="#">YELP IS SELLING MATERIAL TO SPACE DUE THE STOCK IS SKYROCKET ...</a></h5>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint rerum sapiente itaque reprehenderit est quidem adipisci amet.</p>
	               </div>
               </div>
            </div>
         </div>
      </section>

	  <!-- ==================================================
							end blog-area
      ================================================== -->


	  <!-- ==================================================
							client-area 
      ================================================== -->

		<div class="client-area ptb-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="client owl-carousel">
							<div class="single-client">
								<img src="assets/img/client/11.png" alt="" />
							</div>
							<div class="single-client">
								<img src="assets/img/client/12.png" alt="" />
							</div>
							<div class="single-client">
								<img src="assets/img/client/13.png" alt="" />
							</div>
							<div class="single-client">
								<img src="assets/img/client/14.png" alt="" />
							</div>
							<div class="single-client">
								<img src="assets/img/client/15.png" alt="" />
							</div>
							<div class="single-client">
								<img src="assets/img/client/16.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	  <!-- ==================================================
							end client-area
      ================================================== -->


	  <!-- ==================================================
							footer-area
      ================================================== -->

    <footer class="footer-area pt-80">
        <div class="container pb-80">
	        <div class="footer-widgets-section">
	            <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                    	<a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
                                    </div>
                                    <div class="widget-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero repellat inventore, commodi amet id consectetur saepe aspernatur rem</p>
                                        <div class="social-icon about-widget-social-icon">
                                        	<ul>
	                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
	                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="footer-widget services-widget">
                                    <h3 class="widget-title">Useful Links</h3>
                                    <div class="widget-content">
                                        <ul class="widget-services-menu">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Blogs</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Payment System</a></li>
                                        </ul>
                                    </div>
                                </div>  
                            </div>                          
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget newsletter-widget">
                            <h3 class="widget-title">NewsLetter</h3>
                            <div class="widget-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <form action="#">
                                    <input type="text" placeholder="Enter Your Email">
                                    <button type="submit" class="tec-btn">
                                    	<div class="btn-front">Subscribe</div>
                        				<div class="btn-back">Subscribe</div>
                                    </button>
                                </form>
                            </div>       
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3 class="widget-title">Instagram Photos</h3>
                            <div class="instagram-widget">
                                <a href="#"><img src="assets/img/projects/1.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/projects/2.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/projects/3.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/projects/4.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/projects/5.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/projects/6.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/projects/7.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/projects/1.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/projects/2.jpg" alt=""></a>
                            </div>
                        </div>  
                    </div>
	            </div>
	        </div>
        </div>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyright-text">
					<p><a href="#">TechBusiness</a>  &copy;  2018 All Right Reserved</p>
				</div>
			</div>
		</div>
    </footer>

    <a href="" class="scrollTop"><i class="fa fa-arrow-up"></i></a>


	  <!-- ==================================================
							end footer area
      ================================================== -->

        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/popper-1.12.3.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/main.js"></script>


   
    </body>
</html>
