
@media only screen and (min-width: 1200px){
.tech-panel {
    width: 58%;
}

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {


}

@media only screen and (min-width: 768px) {
	.experience {
	    margin-bottom: 45px;
	}
	.skills {
	    margin-bottom: 30px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

.tech-panel{
    left: 0;
    width: 97%;
}
.main-section {
    margin-top: 30px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -10px;
}

}

@media only screen and (max-width: 767px) {
.tech-panel{
    left: 0;
    width: 97%;
}
.main-section {
    height: auto !important;
    margin-right: -15px;
    margin-left: -15px;
}
.home-section {
    padding: 15px 0px;
    background: #323232;
}
.mtb-30-0{
    margin: 0;
}
.row.main-section .d-flex {
    margin-top: 15px;
}
.main-section .section-page a {
    padding-top: 10px;
    padding-bottom: 10px;
}
}
