
@media only screen and (min-width: 992px) and (max-width: 1199px) {


}

@media only screen and (min-width: 768px) {
	.experience {
	    margin-bottom: 45px;
	}
	.skills {
	    margin-bottom: 45px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.main-section {
    margin-left: -20px;
}
.tech-panel{
    left: 0;
    width: 100%;
}

.avatar-image{
	display:none;
}


}

@media only screen and (max-width: 767px) {
.main-section {
    margin-left: -20px;
}
.tech-panel{
    left: 0;
    width: 100%;
}

}
