
@media only screen and (min-width: 1200px) {
    .container {
    width: 1180px;
    max-width: 100%;
}

}


@media only screen and (max-width: 1199px) and (min-width: 992px){
.news-column .author .news-time {
    top: -31px;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

.header-top{
	display: none;
}
header {
    height: 70px;
    top: 0;
}
.welcome-area {
    margin-top: 70px;
    height: 89vh;
}
#main-nav {
    min-height: 70px;
    background-color: red;
}


}

@media only screen and (max-width: 767px) {

.header-top{
	display: none;
}
header {
    height: 70px;
    top: 0;
}
.welcome-area {
    margin-top: 70px;
    height: 89vh;
}

#main-nav {
    min-height: 70px;
    background-color: #3E3E3E;
}
.half-width {
    width: 100%;

}

}


