/* Fabiha - Mail Css  */

/****== TABLE OF CONTENTS ==*****
1.  Fonts
2.  Reset
4.  Main Header 
7.  Section Title
9.  Home Section
9.  About Section
10. Resume Section
10. Skill Section
15. Services Section
15. Funfact Section
15. Portfolio Section
18. Testimonial Section 
20. News Section
26. Contact Form Section
27. Main Footer
**********************************************/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,500i,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
    position: relative;
    margin: 0;
    padding: 0;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 25px;/* 
	width:1920px; */
}
p{
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 25px;
	
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Poppins', sans-serif;
	font-weight:600;
    margin: 0;
}

h1 {
	font-size: 36px;
	line-height:48px;
}
h2 {
	font-size: 26px;
	line-height:36px;
}
h3 {
	font-size: 20px;
	line-height:28px;
}
h4 {
	font-size: 18px;
	line-height:25px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

ul,li{
	padding:0;
	margin:0;
	text-decoration: none;
	list-style: none;
}
a, a:hover, a:focus, a:active, button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
    color: #FFF;
}
img {
    max-width: 100%;
    height: auto;
}

/* global social media */
.social-media {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    margin-left: -15px;
}
.social-media li {
    display: inline-block;
}
.social-media li a {
    font-size: 20px;
    width: 22px;
    height: 22px;
    margin: 0 18px;
    line-height: 23px;
    display: inline-block;
    text-align: center;
    background: transparent;
    color: #1D2063;
    transition: all .2s;
    font-weight: 700;
}
.social-media li a:hover {
    color: #F82462;
}

.container {
    max-width: 1418px;
    padding-right: 25px;
    padding-left: 25px;
}
.row {
    margin-right: -25px;
    margin-left: -25px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

/*========== Common Css ==========*/
.section-title {
    margin-bottom: 30px;
	margin-left:83px;
}
.section-title h2{
    color: #1D2063;
    text-transform: capitalize;
	margin-bottom:20px;
}
.section-title h4 {
    color: #1D2063;
    text-transform: uppercase;
}
.display-table {
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.btn:focus {
    box-shadow: none;
    border: 2px solid #F82462;
}
 .btn {
    background: #F82462;
    border: 2px solid #F82462;
    transition: all .6s;
    color: #fff;
    z-index: 9;
    font-size: 18px;
	line-height:25px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 33px;
    border-radius: 5px;
	position:relative;
	overflow:hidden;
}
.btn:hover{
    border: 2px solid #F82462;
	transform: translate(0px, -3px);
}
.btn:before {
    content: "";
    position: absolute !important;
    top: -40px;
    right: auto;
    bottom: auto;
    left: -100px;
    height: 220px;
    width: 50px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.03)), color-stop(30%, rgba(255, 255, 255, 0.6)), color-stop(50%, rgba(255, 255, 255, 0.85)), color-stop(70%, rgba(255, 255, 255, 0.85)), color-stop(71%, rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
    opacity: .1;
    -webkit-transform: skew(-12deg, 0deg);
    -ms-transform: skew(-12deg, 0deg);
    transform: skew(-12deg, 0deg);
    -webkit-transition: .5s ease 0s;
    -o-transition: .5s ease 0s;
    transition: .5s ease 0s;
    visibility: hidden;
}
.btn:hover:before {
  left: 100%;
  visibility: visible;
  transition: .5s ease .2s;
}


.testimonials .owl-nav button, .read-more, .related-tag a, .widget-tag li a, .testimonials .owl-nav button, .projects-filter ul li {
    transition: all .6s;
    z-index: 9;
    overflow: hidden;
}
.testimonials .owl-nav button:hover, .read-more:hover, .related-tag a:hover, .widget-tag li a:hover, .testimonials .owl-nav button:hover, .projects-filter ul li:hover{
	transform: translate(0px, -3px);
}
.testimonials .owl-nav button:before, .read-more:before, .related-tag a:before, .widget-tag li a:before, .testimonials .owl-nav button:before, .projects-filter ul li:before {
    content: "";
    position: absolute !important;
    top: -40px;
    right: auto;
    bottom: auto;
    left: -100px;
    height: 220px;
    width: 50px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.03)), color-stop(30%, rgba(255, 255, 255, 0.6)), color-stop(50%, rgba(255, 255, 255, 0.85)), color-stop(70%, rgba(255, 255, 255, 0.85)), color-stop(71%, rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
    opacity: .1;
    -webkit-transform: skew(-12deg, 0deg);
    -ms-transform: skew(-12deg, 0deg);
    transform: skew(-12deg, 0deg);
    -webkit-transition: .5s ease 0s;
    -o-transition: .5s ease 0s;
    transition: .5s ease 0s;
    visibility: hidden;
}
.testimonials .owl-nav button:hover:before, .read-more:hover:before, .related-tag a:hover:before, .widget-tag li a:hover:before, .testimonials .owl-nav button:hover:before, .projects-filter ul li:hover:before {
  left: 100%;
  visibility: visible;
  transition: .5s ease .2s;
}
/*----------------------------------------------------------------
                    End Default Settings
----------------------------------------------------------------*/

/*----------------------------------------------------------------
                       Start header
----------------------------------------------------------------*/

/* navbar-menu */
.navbar {
	background: #fff;
	padding:0;
}
.navbar a.navbar-brand {
    font-size: 31px;
    color: #F82462;
	padding:15px 0;
}
.navbar .navbar-nav{
	visibility: hidden;
	opacity:0;
}
.navbar.menu-show .navbar-nav{
	visibility: visible;
	opacity:1;
	transition: .5s;
}
.navbar .navbar-nav .nav-item {
    padding: 0px 5px;
}
.navbar .navbar-nav .nav-link {
    font-size: 18px;
    padding: 25px 24px;
    color: #1D2063;
    font-weight: 500;
}
.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item:hover .nav-link,
.navbar .navbar-nav:hover .nav-link.active:hover {
    background: #F82462;
	border-radius: 20px 0 20px 20px;
	color: #fff;
	transition: .5s;
}
.navbar .navbar-nav:hover .nav-link.active {
	background: transparent;
    color: #1D2063;
}
.right-menu-btn {
    position: fixed;
    top: 10px;
    z-index: 9999;
    right: 5%;
    cursor: pointer;
    padding: 10px;
	visibility:visible;
	opacity:1;
	transition: .6s;
}
.right-menu-btn.menu-bar-hide {
	visibility:hidden;
	opacity:0;
}
.right-menu-btn span{
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #F82462;
  border-radius: 3px;
  z-index: 1;
  transition:.6s;
}
.right-menu-btn.hide span:first-child{
    transform: rotate(0deg);
}
.right-menu-btn span:first-child {
   transform: rotate(45deg);
   transform-origin: 6px 6px;
}
.right-menu-btn.hide span:nth-child(2){
    opacity:1;
}
.right-menu-btn span:nth-child(2){
    opacity:0;
}
.right-menu-btn.hide span:nth-child(3){
    transform: rotate(0deg);
}
.right-menu-btn span:nth-child(3) {
   transform: rotate(-45deg);
   transform-origin: 3px -3px;
}



.right-menu-btn + .right-menu {
    position: fixed;
    width: 25%;
    padding: 3%;
    padding-top: 90px;
    background: #1D2063;
    top: -30px;
    height: 110vh;
    z-index: 9991;
    right: 0%;
    transition: .5s;
}
.right-menu-btn.menu-bar-hide + .right-menu {
	visibility:hidden;
}
.right-menu-btn.hide + .right-menu {
    right: -25%;
}
.right-menu li a {
    font-size: 26px;
    padding: 20px 10px;
    display: block;
    transition: .5s;
}
.right-menu li:hover a {
    color:#F82462;
}
.toggler-menu-close {
    background: none;
    border: 0;
    cursor: pointer;
    box-shadow:none;
    outline:none;
}
.toggler-menu-close:focus {
    border:none;
}
/*================================================================
                       End Navbar
=========================================================================*/


/*====================================================================
                    Home Section start 
===============================================================================*/
.home {
    position: relative;
    overflow-x: hidden;
    margin-top: 75px;
}
.home .col-lg-7.hero-img-plus{
	max-width:59.33%;
    flex: 0 0 59.333333%;
}
.container-fluid-custom {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.fabiha-bg {
    background-image: url(../img/header/fabiha.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 735px;
    border-radius: 0 0 40px 0;
    position: relative;
}


.fabiha-bg .fabiha-shape1 {
    position: absolute;
    content: "";
    width: 95px;
    height: 89px;
    background: #1D2063;
    right: -48px;
    top: 50px;
    z-index: 999;
	border-radius: 20px 0 20px 20px;
}


.fabiha-bg .fabiha-shape2 {
    position: absolute;
    content: "";
    width: 95px;
    height: 89px;
    background: #1D2063;
    left: 166px;
    bottom: -50px;
    z-index: 999;
    border-radius: 20px 0 20px 20px;
}
.banner-text-minus {
    max-width: 40.33%;
    flex: 0 0 40.333333%;
    padding-left: 60px;
}
.home .table-cell {
    vertical-align: center;
}
.info-header {
	height:735px;
}
.info-header h1 {
	font-family: 'Baloo', cursive;
    color: #1D2063;
    margin: 0 0 10px 0px;
    text-transform: capitalize;
    font-size: 47px;
    text-align: left;
    font-weight: 400;
    line-height: 71px;
    position: relative;
}
.banner {
    position: relative;
    z-index: 33;
}
.banner-meta {
    margin: 0 0 30px 0px;
    display: inline-block;
}
.banner-meta li {
    display: inline;
    position: relative;
    text-transform: capitalize;
    font-size: 18px;
    color: #1D2063;
    font-weight: 600;
    line-height: 27px;
    padding: 10px;
}
.banner-meta li:first-child {
    padding-left: 0;
}


/*===================================================================
                    End Home Section 
=======================================================================*/


/*======================================================================
                    Start Section About 
============================================================================*/

.about .container-fluid-custom {
    width: 70.333%;
}
.about-text-plus{
	max-width:61.33%;
    flex: 0 0 61.333333%;
}
.info-about {
    margin-top: 60px;
}
.about p  {
    color: #1D2063;
}
.info-about .section-title {
    margin-bottom: 30px;
}
.info-about h3 {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 25px;
}
.about-desc {
    margin-left: 83px;
    margin-bottom: 88px;
}
.about-desc-text {
    width: 72%;
}
.about-desc .follow-me {
    margin-top: 35px;
}
.profile {
    background-color: #1D2063;
    padding: 68px 93px;
    position: relative;
    border: 1px solid #f3f2f2;
    margin-left: -142px;

}
.profile p {
    color: #f9f9f9;
}
.profile::after {
    position: absolute;
    bottom: 0;
    right: -175px;
    z-index: 9;
    content: '';
    width: 217px;
    height: 100%;
    background: #F82462;
    border-radius: 47px 0 47px 47px;
}
.profile .icon-bg {
    position: absolute;
    color: #9b9b9b;
    bottom: 30px;
    font-size: 60px;
    right: 20px;
    opacity: .1;
}
.profile p {

    margin: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;

}
.profile p span {
    font-weight: 400;
    padding-left: 5px;
}
.follow-me p {
    position: relative;
    float: left;
    padding-right: 0px;
	font-weight:700;
}


.about-img-minus{
	max-width:38.666667%;
    flex: 0 0 38.666667%;
}
.about-img {
    display: inline-block;
    position: relative;
    z-index: 3;
    margin-bottom: 50px;
}
.about-img img {
    width: 549px;
}
.box-img {
    position: relative;
    vertical-align: bottom;
}

.about-shape1 {
    position: absolute;
    z-index: 1;
    content: '';
    height: 77px;
    width: 72px;
    background: #F82462;
    border-radius: 20px 0 20px 20px;
    top: -30px;
    left: -35px;
}
.about-shape2 {
    position: absolute;
    z-index: 1;
    content: '';
    height: 77px;
    width: 72px;
    background: #F82462;
    border-radius: 20px 0 20px 20px;
    bottom: 55px;
    right: -35px;
}

/*========================================================================
                    End About Me
=====================================================================*/

/*===================================================================
                    Start My Resume
=======================================================================*/
.my-resume {
	color: #fff;
}
.my-resume p {
	color: #fff;
}

.resume-head .content-exper h4 {
    color: #f9f9f9;
}
.icon-exp {
    background: #343436;
    border: 1px solid #2b2b2d;
    float: right;
}
.resume-head .date {
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 18px;
	float:right;
}
.resume-head .date:after {
    position: absolute;
    content: "";
    right: 0px;
    bottom: -5px;
    width: 106px;
    height: 4px;
    background: #F82462;
}
.resume .btn {
    float: right;
    margin-top: 0px;
}
.resume-item {
    position: relative;
    background: #1D2063;
    padding: 82px;
	padding-bottom:0px;
}
.resume-item .icon-bg {
    position: absolute;
    color: #9b9b9b;
    bottom: 20px;
    font-size: 50px;
    right: 20px;
    opacity: .1;
}
.resume-head {
    margin-bottom: 40px;
    position: relative;
}
.resume-head .content-exper h4 {
    margin-bottom: 18px;
}
.resume-footer {
    position: relative;
    padding-bottom: 26px;
}
.resume-footer p {
	margin-bottom:20px;
}
.resume-img {
	position:relative;
}
.resume-img:before {
    content: "";
    background: #1D2063;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    position: absolute;
	z-index:-1;
}
.resume-img img {
    width: 80%;
    border-radius: 0 0 0px 67px;
    margin: auto;
    display: block;
}
.resume-shape1 {
    position: absolute;
    right: 15px;
    bottom: 18px;
    width: 107px;
    height: 100px;
    background: #F82462;
    content: "";
    z-index: 1;
    border-radius: 20px 0 20px 20px;
}


.my-resume.resum-right {
    position:relative;
    border-left: none;
    padding-left: 0;
}
.resume-shape2 {
    position: absolute;
    left: 73px;
    top: -35px;
    width: 77px;
    height: 72px;
    background: #F82462;
    content: "";
    z-index: 1;
	border-radius: 20px 0 20px 20px;
}
/*==================================================================
                    End My Resume
==========================================================================*/



/*=====================================================
							MY Skills
========================================================*/

.my-skills {
    position: relative;
}
.skill-shape1 {
    position: absolute;
    right: 50px;
    top: 100px;
    width: 77px;
    height: 72px;
    background: #F82462;
    content: "";
    z-index: 1;
    border-radius: 20px 0 20px 20px;
}
.skill-shape2 {
    position: absolute;
    left: 42px;
    bottom: 0;
    width: 107px;
    height: 100px;
    background: #1D2063;
    content: "";
    z-index: 1;
    border-radius: 20px 0 20px 20px;
}
.info-skills {
    text-align: left;
    margin-bottom: 30px;
    position: relative;
}
.skills .skill-box {
    margin-bottom: 30px;
}
.skills .skill-box:last-of-type {
    margin-bottom: 0;
}
.skills .skill-title {
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    z-index: 99;
    position: relative;
    padding: 10px 45px;
    margin: 0;
}
.progress-line-wrap {
    background: #1D2063;
    border-radius: 0 0 25px 0;
}
.skills .skill-box .progress-line {
    height: 61px;
    margin: 0;
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
}
.skills .skill-box .progress-line .data-percent {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #F82462;
}
.skills .skill-box .progress-line .percent-count {
    position: absolute;
    top: 15px;
    right: -11%;
    height: 100%;
    width: 10%;
    color: #ffff;
}
.skills .skill-box .progress-line .percent-count:after {
    position: absolute;
	left:18px;
	top:0;
	content:"%";
    color: #ffff;
}



/*======================================================================
                    Start My Services 
===============================================================================*/

.services-item h4 {
    color: #f9f9f9;
}
.number-bg {
    opacity: .1;
}
.services-item {
    margin-top: 32px;
    padding: 50px 82px;
    text-align: left;
    position: relative;
    transition: .5s;
    z-index: 1;
    background: #1D2063;
    color: #fff;
    margin-bottom: 50px;
}
.services-item .service-icon {
    position: absolute;
    background: #F82462;
    display: block;
    right: 10%;
    top: -32px;
    border-radius: 20px 0 20px 20px;
	padding: 14.5px 19.5px;
	text-align:center;
}

.services-item:hover{
    box-shadow: 0px 0px 30px 0px rgba(87, 95, 245, .10);
    position: relative;
    z-index: 9;
    transform: translate(0, -5px);
}
.icon-services {
    text-align: right;
}
.icon-services span {
    font-size: 40px;
    color: #F82462;
}
.services-item h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}
.services-item  p {
    margin-bottom: 0px;
	color: #fff;
}


/*=======================================================================
                    End My Services 
==============================================================================*/


/*====================================================================
                    Start funfact 
=====================================================================*/
.funfact {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-color: #F82462;
    background-image: url(../img/funfact-bg.png);
}

.stat-item {
    padding: 10px 10px 10px 82px;
}
.stat-item .count {
    font-size: 45px;
    padding-bottom: 25px;
    font-weight: 600;
    color: #f9f9f9;
    position: relative;
    display: inline-block;
    line-height: 63px;
}
.stat-item .count::before {
    content: " ";
    display: block;
    height: 4px;
    width: 80px;
    background: #fff;
	bottom: 15px;
    left: 0px;
    position: absolute;
    border-radius: 5px;
}
.stat-item .text {
    margin-top: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
	margin:0;
}
/*==================================================================
                        End  funfact 
=========================================================================*/


/*==============================================================
                        Start Section Portfolio
=======================================================================*/
.portfolio {
    position: relative;
}
.portfolio-shape1 {
    position: absolute;
    right: 125px;
    top: 100px;
    width: 94px;
    height: 88px;
    background: #1D2063;
    content: "";
    z-index: 1;
    border-radius: 20px 0 20px 20px;
}
.portfolio-shape2 {
    position: absolute;
    left: 91px;
    bottom: 215px;
    width: 60px;
    height: 56px;
    background: #F82462;
    content: "";
    z-index: 1;
    border-radius: 20px 0 20px 20px;
}

 .portfolio-bg1{background-image: url(../img/portfolio/item-1.jpg);}
 .portfolio-bg2{background-image: url(../img/portfolio/item-2.jpg);}
 .portfolio-bg3{background-image: url(../img/portfolio/item-3.jpg);}
 .portfolio-bg4{background-image: url(../img/portfolio/item-4.jpg);}
 .portfolio-bg5{background-image: url(../img/portfolio/item-5.jpg);}
 .portfolio-bg6{background-image: url(../img/portfolio/item-6.jpg);}
 .portfolio-bg7{background-image: url(../img/portfolio/item-7.jpg);}
 

 .projects-filter {
    margin-bottom: 40px;
    margin-left: 83px;
}
.list-control {
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 0;
    padding-left: 0;
}
.projects-filter ul li {
    display: inline-block;
    color: #1D2063;
    padding: 10px 20px;
    border-radius: 15px 0px 15px 15px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
	transition:.5s;
    margin-right: 10px;
}

.projects-filter ul li.active,
.projects-filter ul li:hover {
    color: #fff;
    background-color: #F82462;
}

.grid{
    height: 100%;
}
.element-item{
    width: 100%;
    margin-bottom: 50px;
    height: 280px;
}
.single-portfolio{
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


.single-portfolio .portf-hover {
    position: absolute;
    left: 36px;
	right:35px;
    top: 29px;
	bottom:28px;
    background: #1D2063;
	opacity: 0;
    padding: 39px 45px;
    color: #fff;
	border-radius: 60px 60px 60px 0;
	visibility:hidden;
	opacity: 0;
    transition: .5s;
}
.portf-hover .hover-wrap {
    position: absolute;
    left: 36px;
    bottom: 36px;
}
.single-portfolio:hover .portf-hover {
	visibility:visible;
	opacity: 0.72;
    transition: .5s;
}

/*============================================================
                    Start Section Testimonials 
=============================================================*/

.testimonials {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
}
.testimonials p {
    color: #fff;
}
.testimonial .single-wrap {
    padding-top: 50px;
}
.testimonial .single-item {
    background: #F82462;
    padding: 60px 35px;
    color: #fff;
}
.testimonials .client-img {
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 0px;
    z-index: 999;
    width: 119px;
    height: 112px;
}
.testimonials .client-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 20px 20px;
}
.testimonials .owl-nav {
    margin-top: 40px;
}
.testimonials .owl-nav button {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 56px;
    font-size: 16px;
	transition: 1s;
}/* 
.testimonials .owl-nav button:hover {
    bottom: -30px;
} */
.testimonials .owl-nav button.owl-prev {
    left: 50%;
    position: absolute;
    margin-left: -85px;
    border-radius: 0 20px 20px 20px;
    color: #fff;
    background: #1D2063;
	transition: 1s;
}
.testimonials .owl-nav button.owl-next {
    left: 50%;
    position: absolute;
    margin-left: 25px;
    border-radius: 20px 0px 20px 20px;
    background: #1D2063;
    color: #fff;
	transition: 1s;
}
.testimonials .author-details h4 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.testimonials .author-details span {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 14px;
    display: inline-block;
}
/*===================================================================
                    End Section Testimonials 
=====================================================================*/


/*=================================================================
                        Start Section Blog
===================================================================*/
.blog {
    position: relative;
}
.blog-shape1 {
    position: absolute;
    right: 80px;
    top: 100px;
    width: 134px;
    height: 125px;
    background: #F82462;
    content: "";
    z-index: 1;
    border-radius: 20px 0 20px 20px;
}
.blog-shape2 {
    position: absolute;
    left: 83px;
    bottom: 85px;
    width: 76px;
    height: 71px;
    background: #1D2063;
    content: "";
    z-index: 1;
    border-radius: 20px 0 20px 20px;
}

.single-blog {
    margin-bottom: 50px;
    position: relative;
}
.blog-img {
    position: relative;
}
.blog-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #1D2063;
	z-index: -1;
}
.blog-img a {
	display:block;
}
.blog-img img {
    width: 86.5%;
    display: block;
	margin: 0 auto;
}
.home-blog .first-blog .blog-img img {
    border-radius: 0px 0px 67px 0px;
}
.home-blog .second-blog .blog-img img {
    border-radius: 0px 67px 0px 0px;
}
.home-blog .third-blog .blog-img img {
    border-radius: 0px 0px 0px 67px;
}
.single-blog p {
	color: #fff;
}
.blog-content {
    background: #1D2063;
    padding: 25px 60px 60px;
    z-index: 1;
    position: relative;
    color: #fff;
}
.blog-date {
    padding-left: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    position: relative;
}
.blog-date li {
    display: inline-block;
    padding-right: 5px;
}

.blog-date li a {
    color: #fff;
	transition: .4s;
}
.blog-date li a:hover {
    color: #F82462;
}
.blog-content .blog-title a h3 {
    margin-top: 25px;
    margin-bottom: 18px;
    transition: .4s;
}
.blog-content .blog-title a h3:hover {
	color: #F82462;
}
.blog-content a.read-more {
    position: absolute;
    background: #F82462;
    display: inline-block;
    right: 57px;
    bottom: -34px;
    border-radius: 20px 0 20px 20px;
    width: 77px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    font-size: 18px;
}

/*=====================================================================
                        End Section Blog 
============================================================================*/
/*===================================================================
                        Start Contact Me
===================================================================*/

.contact {
    overflow-x: hidden;
	position:relative;
}
.contact-text h2 {
    margin-bottom: 20px;
    color: #1D2063;
}
.contact-text {
    margin-left: 100px;
    margin-top: 120px;
}
.contact-text p {
    color: #1D2063;
    font-weight: 600;
}
.contact-text p.con-address {
    margin-bottom: 25px;
}
.contact-text p.con-email {
    margin-top: 25px;
}
.contact-text p.con-phone {
    margin-bottom: 5px;
}
.contact-text .social-media {
    margin-left: -15px;
}
.con-form-wrap{
    position: relative;
    background: #1D2063;
    border-radius: 67px 0 0 0;
}
.con-form-wrap:after {
    position: absolute;
    content: "";
    right: -198%;
    top: 0;
    width: 200%;
    background: #1D2063;
    z-index: 1;
	height: 100%;
	/* 
    height: calc(100% - 1px); */
}
.contact .form {
    padding: 100px 30px 160px 130px;
    position: relative;
    text-align: left;
}
.contact-form-shape1 {
    position: absolute;
    content: "";
    right: -28%;
    top: -47px;
    width: 95px;
	height: 89px;
    background: #F82462;
    z-index: 99;
	border-radius: 20px 20px 20px 0;
}
.contact-form-shape2 {
    position: absolute;
    content: "";
    left: -35px;
    bottom: 80px;
    width: 69px;
	height: 64px;
    background: #F82462;
    z-index: 99;
	border-radius: 20px 20px 20px 0;
}
.contact .form input, .contact .form textarea {
    background: transparent;
    padding: 10px 0px;
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 25px;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
	color:#fff;
}
.contact .form input::placeholder, .contact .form textarea::placeholder {
	color:#fff;
}

.contact .form textarea {
	min-height:150px;
}

/*=================================================================
                        End Contact Me 
=================================================================*/

/*==============================================================
                        Start Footer
===================================================================*/
.copyright-text {
    margin-top: -120px;
    margin-left: 100px;
}
.copyright-text p {
	color:#1D2063;
    font-size: 16px;
	line-height:23px;
    font-weight: 300;
}

/*==================================================================
                        End Footer
===================================================================*/

/*==================================================================
                        Scroll Top start
===================================================================*/
.scroll-up {
    position: fixed;
    bottom: 55px;
    right: 30px;
    color: #e5d2d0;
    cursor: pointer;
    z-index: 10;
    display: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.scroll-up .top-one {
    display: block;
    height: 30px;
    margin-bottom: 5px;
    width: 2px;
    background: #e5d2d0;
    margin-left: 12px;
}
.scroll-up .top-two { 
    text-orientation: mixed;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    white-space: nowrap;
    transform: rotate(180deg);
}

.scroll-up .top-three {
    display: block;
    height: 0px;
    margin-bottom: 5px;
    width: 2px;
    background: #e5d2d0;
    margin-left: 12px;
}
.scroll-up:hover .top-three {
    height: 30px;
    background: green;
}
.scroll-up:hover .top-one {
    height: 0px;
}
.scroll-up:hover .top-two {
    color: #f9f9f9;
}

/*==================================================================
                        End Scroll Top
===================================================================*/














/*=======================================================================================================================================
							-------------------------	start blog.html  {blog grid}  ---------------------
=======================================================================================================================================*/
/*-------------- news-feed --------------*/
.news-feed {
    margin-top: 75px;
    position: relative;
}
.news-feed p {
    color: #1D2063;
	margin:0;
}
.news-feed-shape1 {
    position: absolute;
    left: 83px;
    top: 100px;
    width: 69px;
    height: 64px;
    background: #F82462;
    content: "";
    z-index: 1;
    border-radius: 0px 20px 20px 20px;
}
.news-feed-shape2 {
    position: absolute;
    right: 83px;
    bottom: 100px;
    width: 95px;
    height: 89px;
    background: #1D2063;
    content: "";
    z-index: 99;
    border-radius: 0px 20px 20px 20px;
}
.news-feed h1 {
    color: #1D2063;
    line-height: 74px;
    font-family: 'Baloo', cursive;
    font-size: 47px;
    font-weight: 400;
    margin-bottom: 15px;
}


/*----------------- breadcrumb ----------------*/
ul.breadcrumb {
    padding: 0;
    background-color: #fff;
    margin: 0;
    margin-top: 32px;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: #F82462;
    font-weight: 600;
}
ul.breadcrumb li+li:before {
  padding: 15px;
  color: black;
  content: "|";
}
ul.breadcrumb li a {
    color: #1D2063;
}
ul.breadcrumb li a:hover {
  color: #1D2063;
}




/* -------blog-grid--{single-blog overright}--------- */
.grid-blog-shape1 {
    position: absolute;
    left: 83px;
    bottom: 50%;
    width: 76px;
    height: 71px;
    background: #1D2063;
    content: "";
    z-index: 99;
    border-radius: 20px 0 20px 20px;
}
.grid-blog-shape2 {
    position: absolute;
    right: 80px;
    top: 350px;
    width: 77px;
    height: 72px;
    background: #F82462;
    content: "";
    z-index: 99;
    border-radius: 20px 0 20px 20px;
}
.grid-blog .single-blog {
    margin-bottom: 135px;
    margin-top: 50px;
}

.grid-blog .blog-img img {
    border-radius: 0px 0 67px 0px;
	width:80%;
}
.grid-blog .blog-content {
    padding: 42px 85px 45px 85px;
}
.blog-info-bar .author-name {
    float: right;
}
.grid-blog .blog-date {
    font-weight: 400;
}
.grid-blog .single-blog .blog-date:after {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 106px;
    height: 4px;
    background: #F82462;
    content: "";
}

.grid-blog .blog-title {
    margin-top: 46px;
    margin-bottom: 34px;
}
.grid-blog .first-item .blog-content a.read-more {
    font-size: 30px;
    bottom: -50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
}

/* -------pagination----------- */
.pagination {
	margin: auto;
}
.pagination li a {
    background: #DDDEF5;
    padding: 20px 30px;
    display: inline-block;
    margin: 0 10px;
	border-radius: 20px 0px 20px 20px;
}
.pagination li.active a {
    background: #F82462;
    font-size: 18px;
    font-weight: 500;
}



/*=======================================================================================================================================
							-------------------------	end blog.html  {blog grid}  --------end-------------
=======================================================================================================================================*/





/*=======================================================================================================================================
							-------------------------	start single-blog.html  {single-blog-page}  --------start-------------
=======================================================================================================================================*/

/* -------single-blog-page--------- */

.single-blog-page .single-blog-details .blog-img img {
	width:89%;
}
.single-blog-page .single-blog-details .blog-title {
    margin-bottom: 34px;
    margin-top: 46px;
}
.single-blog-page .blog-desc {
    padding: 42px 85px 85px 85px;
    background: #1D2063;
}
.single-blog-page .blog-info-bar .blog-date {
    position: relative;
    padding-bottom: 20px;
	float: left;
}
.single-blog-page .blog-info-bar .blog-date:after {
	position:absolute;
	left:0;
	bottom:0;
	width: 106px;
	height:4px;
	background:#F82462;
	content: "";
}
.single-blog-page .author-name span {
    color: #F82462;
}
.single-blog-page .author-name a {
	transition: .4s;
}
.single-blog-page .author-name a:hover {
    color: #F82462;
}
.single-blog-page .blog-info-bar .blog-tag {
    float: left;
    margin-right: 50px;
}
.single-blog-page .blog-info-bar .blog-tag a {
	transition:.4s;
}
.single-blog-page .blog-info-bar .blog-tag a:hover {
    color: #F82462;
}
.single-blog-page .blog-info-bar .blog-love-icon {
    float: left;
    margin-right: 12px;
}
.single-blog-page .blog-info-bar .blog-love-icon i {
    padding: 5px;
}
.single-blog-page .blog-info-bar .blog-comment-icon i {
    padding: 5px;
}
.single-blog-page blockquote {
    margin: 25px 0;
    padding: 0px 35px 0px 69px;
    position: relative;
    color: #fff;
}
.single-blog-page blockquote:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 100%;
    background: #F82462;
    left: 0;
    top: 0;
	border-radius: 20px 0 20px 20px;
}
img.post-img {
    margin: 30px 0 45px;
}
.post-footer {
    color: #fff;
    padding-top: 20px;
}
.related-tag h4 {
    margin-bottom: 15px;
}
.related-tag a {
    background: #F82462;
    padding: 13px;
    display: inline-block;
    border-radius: 15px 0 15px 15px;
    margin-right: 11px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 15px;
	transition:1s;
}
.related-tag a:hover {
    background: #F82462;
}
.post-share h4 {
    margin-bottom: 25px;
}
.single-blog-page .social-media {
    margin-bottom: 0;
    margin-left: -12px;
}
.single-blog-page .social-media li a {
    color: #fff;
    margin: 0 8px;
	transition: .5s;
}
.single-blog-page .social-media li a:hover {
    color: #F82462;
}


/* ------------------admin-description + Comments Area --------------------*/

.post-comment-area {
    margin-top: 60px;
}
.admin-name {
    font-size: 16px;
}
.admin-name span {
    margin-left:5px;
	color: #F82462;
}
.admin.social-media {
    margin-top: 20px;
}
.post-comment-area h2 {
    margin-left: 82px;
    color: #1D2063;
    margin-bottom: 30px;
}
.post-comment-area p {
	color: #fff;
}
.comment-thumb {
    float: left;
    width: 88px;
    height: 83px;
}
.comment-thumb img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 20px 20px;
}
.comment-other {
    margin-left: 130px;
}
.post-single-comment-box {
    padding: 60px;
    background: #1D2063;
    margin-bottom: 50px;
}
.post-single-comment-box.last {
    margin-bottom: 60px;
}
.post-single-comment-box p {
    width: 80%;
	margin-bottom:0;
}
.reply-comment {
    margin-left: 148px;
}
.comment-other h4 {
	margin-top: 0;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}
.comment-other h4 a {
	transition: .4s;
}
.comment-other span {
    color: #F82462;
    margin-bottom: 15px;
    display: inline-block;
}
.comment-other a.reply {
	font-size: 16px;
	float:right;
	transition: .4s;
}
.comment-other a:hover {
    color: #F82462;
}


/*--------------- Comments form-------------------*/
.post-comment-form {
    background-color: #1D2063;
    padding: 60px 82px;
}
.post-comment-form .form {
    padding-left: 43px;
}
.post-comment-form h2 {
    color: #fff;
    margin-left: 0;
    margin-bottom: 15px;
}
.post-comment-form .form input, .post-comment-form .form textarea {
    background: transparent;
    padding: 10px 0px;
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 25px;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
	color:#fff;
}
.post-comment-form .form input::placeholder, .post-comment-form .form textarea::placeholder {
	color:#fff;
}
.post-comment-form .form textarea {
	min-height:172px;
}

/* -----------------related-news --------------*/
.fabi-related-news {
    margin-top: 60px;
}
.fabi-related-news h2 {
    color: #1D2063;
    margin-bottom: 30px;
	margin-left:82px;
}



/*=======================================================================================================================================
							-------------------------	end single-blog.html  {single-blog-page}  --------end-------------
=======================================================================================================================================*/


/*======================================================================================
                       widget area start
======================================================================================*/

/* ---------all widget common------*/
.widget {
    background: #1D2063;
    padding: 45px 40px;
	margin-bottom: 48px;
}
.widget-title {
    color: #fff;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 34px;
}
/*--------Search Widget-----------*/
.search-field form {
	display: inline-block;
	width: 100%;
	position: relative;
	overflow:hidden;
}
.search-field input[type="text"] {
    background: #fff none repeat scroll 0 0;
    border: none;
    padding: 10px 30px 10px 0px;
    width: 100%;
    color: #fff;
    background: transparent;
    border-bottom: 2px solid #fff;
}
.search-field input[type="text"]::placeholder {
	color:#fff;
}
.search-field input[type="text"]:focus {
	outline:none;
	box-shadow:none;
}
.search-field button {
    color: #fff;
    padding: 9px 15px;
    position: absolute;
    right: 0;
    background: transparent;
    top: 2px;
    cursor: pointer;
    border: none;
}

/*-----------Recent post/news--------------*/
.single-recent-desc h3 {
    font-size: 15px;
    margin-bottom:10px;
}
.single-recent-desc ul {
    margin-bottom: 10px;
}
.single-recent-desc li {
    display: inline-block;
}

.recent-post {
display: inline-block;
padding: 12px 0;
width: 100%;
}
.recent-post-thumb {
    float: left;
    margin-right: 20px;
    width: 120px;
    height: 102px;
}
.recent-post-thumb img {
    width: 100%;
    height: 100%;
	margin-top:5px;
}
.media-body {
    margin-left: 147px;
}
.single-recent-desc  a:hover{
color:#F82462
}
.single-recent-desc h4 a {
	font-weight:500;
}

/*--------------Category Widget--------------*/

.widget-cat ul {
    padding-left: 15px;
    margin-bottom: 10px;
}
.widget-cat li {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}
.widget-cat li:last-child{
    padding-bottom:0px;
}
.widget-cat li a {
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    padding: 10px 0;
    display: inline-block;
}
.widget-cat li a:hover{
    color:#F82462;
}

/*------------------Widget Tag----------------------*/
.widget-tag ul {
    padding-left: 0px;
}
.widget-tag li{
    display:inline-block;
}
.widget-tag li a {
    margin: 0 10px 20px 0;
    background: #F82462;
    border: 1px solid #F82462;
    padding: 10px;
    display: inline-block;
    border-radius: 15px 0px 15px 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
	transition:1s;
}
.widget-tag li a:hover{
	
}

/*======================================================================================
                       widget area end
======================================================================================*/



 
 
 
 
 
 