
/* // Large devices */
@media only screen and (max-width: 1400px) {
/* about */
.about .container-fluid-custom {
    width: 96.333%;
}
.about-desc-text {
    width: 100%;
}

.about-desc {
    margin-bottom: 50px;
}
.info-about .section-title {
    margin-bottom: 30px;
}
.info-about .small-padding {
    padding-right: 5px;
    padding-left: 5px;
}
.profile {
    padding: 50px 75px 50px 50px;
    margin-left: 0px;
}

.profile::after {
    right: -140px;
    width: 182px;
}
.about-shape2 {
    right: 20px;
    bottom: 20px;
}
.info-header h1 {
    font-size: 40px;
    line-height: 55px;
}


.skill-shape1,
.skill-shape2,
.portfolio-shape1,
.portfolio-shape2,
.blog-shape1,
.blog-shape2,
.news-feed-shape1,
.news-feed-shape2,
.grid-blog-shape1,
.grid-blog-shape2{
	display:none;
}


}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
.container-fluid-custom {
    width: 96%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px;
}
/*responsive padding less 20*/
.pb-70 {
    padding-bottom: 50px;
}
.pt-100 {
    padding-top: 80px;
}
.pb-100 {
    padding-bottom: 80px;
}
.ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.pt-110 {
    padding-top: 90px;
}
.pb-115 {
    padding-bottom: 95px;
}

/* home */
.fabiha-bg {
    height: 600px;
}
.fabiha-shape1 {
    width: 65px;
    height: 59px;
    right: -30px;
    top: 30px;
}
.fabiha-shape2 {
    width: 65px;
    height: 59px;
    left: 35px;
    bottom: -30px;
}
.banner-text-minus {
    padding-left: 40px;
}

.about-shape1, .about-shape2 {
    position: absolute;
    z-index: 1;
    content: '';
    height: 50px;
    width: 51px;
    background: #F82462;
    border-radius: 20px 0 20px 20px;
}
.about-shape1 {
    top: -24px;
    left: -24px;
}
.about-shape2 {
    bottom: 10px;
    right: 10px;
}
/* my resume */
.resume-item {
    padding: 50px;
    padding-bottom: 0;
}
.resume-head {
    margin-bottom: 15px;
}
.resum-left .resume-shape1 {
    right: 32px;
    width: 65px;
    height: 67px;
}
.my-resume.resume-shape2 {
    left: 45px;
    top: -27px;
    width: 55px;
    height: 55px;
}
/* service */
.services-item {
    padding: 35px 50px;
}
.services-item .service-icon {
    padding: 17.5px 15.5px;
}
.service-icon img {
    width: 75%;
}
.contact .form {
    padding: 70px 30px 130px 80px;
}
/* portfolio */
.stat-item {
    padding: 10px 10px 10px 50px;
}
/* testimonials */
.testimonials .client-img {
    right: 25px;
    top: 6px;
    width: 90px;
    height: 85px;
}
	
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {

.contact-text {
    margin-left: 0px;
}
.copyright-text {
    margin-left: 0px;
    margin-right: 15px;
}
/*=============
single-blog.html  {single-blog-page}
==============*/

.widget {
    padding: 25px;
}
.media-body {
    margin-left: 0;
	margin-top:10px;
}
.recent-post-thumb {
    float: none;
}

.recent-post-thumb img {
    margin: 0;
}
.widget-tag li a {
    margin: 0 5px 10px 0;
    padding: 8px;
    font-size: 15px;
    line-height: 21px;
}
.fabi-related-news .blog-content {
    padding: 18px 15px 30px 25px;
}

}











/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
body {
    font-size: 14px;
}
p{
    font-size: 14px;
	
}
h1 {
	font-size: 26px;
	line-height:48px;
}
h2 {
	font-size: 20px;
	line-height:36px;
}
h3 {
	font-size: 18px;
	line-height:28px;
}
h4 {
	font-size: 16px;
	line-height:25px;
}

.social-media li a {
    font-size: 16px;
    margin: 0 6px;
}
/* menu */
.navbar a.navbar-brand {
    margin-left: 15px;
}
.right-menu-btn.menu-bar-hide {
    visibility: visible;
    opacity: 1;
}
.right-menu-btn.menu-bar-hide + .right-menu {
    visibility: visible;
}
.right-menu li a {
    font-size: 20px;
    padding: 15px 10px;
}
/* home */
.home {
    margin-top: 69px;
}
.fabiha-bg .fabiha-shape1 {
    width: 75px;
    height: 70px;
    right: -35px;
    top: 35px;
}
.fabiha-bg .fabiha-shape2 {
    width: 75px;
    height: 70px;
    left: 80px;
    bottom: -35px;
}
.profile::after {
    right: -123px;
    width: 182px;
}
.profile {
    margin-right: -41%;
}
.resume-head .date:after {
    width: 80px;
}
.single-blog {
    margin-bottom: 100px;
}
.grid-blog .blog-content {
    padding: 25px 40px 30px 40px;
}
/*------------------
single-blog.html  {single-blog-page}
------------------------*/
.single-blog-page .blog-desc {
    padding: 27px 50px 50px 50px;
    background: #1D2063;
}
.post-single-comment-box {
    padding: 30px;
}
.post-comment-form {
    padding: 30px 50px;
}
.reply-comment {
    margin-left: 80px;
}
.widget-cat li a {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 0;
}
}



/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
body {
    font-size: 13px;
}
p{
    font-size: 13px;
	
}
h1 {
	font-size: 22px;
	line-height:32px;
}
h2 {
	font-size: 18px;
	line-height:28px;
}
h3 {
	font-size: 16px;
	line-height:25px;
}
h4 {
	font-size: 14px;
	line-height:20px;
}
/*responsive padding less 30*/
.pt-50 {
    padding-top: 35px;
}
.pb-70 {
    padding-bottom: 35px;
}
.pb-80 {
    padding-bottom: 45px;
}
.pt-100 {
    padding-top: 65px;
}

.pb-100 {
    padding-bottom: 65px;
}
.ptb-100 {
    padding-top: 65px;
    padding-bottom: 65px;
}
.pt-110 {
    padding-top: 75px;
}
.pb-115 {
    padding-bottom: 80px;
}







.navbar a.navbar-brand {
    font-size: 20px;
}
.navbar .navbar-nav .nav-link {
    font-size: 15px;
    padding: 7px 10px;
    color: #1D2063;
}
.right-menu-btn + .right-menu {
    width: 100%;
    padding: 5%;
    padding-top: 10%;
}
.right-menu-btn.hide + .right-menu {
    right: -100%;
}
.right-menu-btn.menu-bar-hide {
    visibility: visible;
    opacity: 1;
}
.right-menu-btn.menu-bar-hide + .right-menu {
    visibility: visible;
}

/* home */
.home {
    padding-bottom: 65px;
}
.fabiha-bg {
    height: 500px;
}
.fabiha-bg .fabiha-shape1 {
    right: 0;
}
.fabiha-bg .fabiha-shape2 {
    left: 20px;
}
.info-header h1 {
    font-size: 30px;
    line-height: 40px;
}
.home .col-lg-7.hero-img-plus {
    max-width: 100%;
    flex: 0 0 100%;
}
.banner-text-minus {
    max-width: 100%;
    flex: 0 0 100%;
    padding-top: 70px;
}
.banner-meta {
    margin: 0 0 20px 0px;
}
.banner-meta li {
    font-size: 15px;
    line-height: 20px;
    padding: 5px;
}
.info-header {
    height: 100%;
}
.social-media {
    margin-bottom: 25px;
    margin-left: -8px;
}

.btn {
    font-size: 12px;
    padding: 7px 16px;
}
/* about */
.about {
    padding-top: 65px;
}
.about .container-fluid-custom {
    width: 95.333%;
}
.about-text-plus {
    max-width: 100%;
    flex: 0 0 100%;
}

.about-img-minus {
    max-width: 100%;
    flex: 0 0 100%;
}
.about-img {
    display: block;
}
.about-img img {
    width: 100%;
}
.about-desc {
    margin-left: 0;
}
.info-about {
    margin-top: 20px;
}
.info-about .section-title {
    margin-bottom: 10px;
    margin-left: 20px;
}
.about-desc-text {
    padding: 0 20px;
}
.follow-me {
    margin-bottom: 35px;
    margin-left: 20px;
}
.profile {
    padding: 20px 30px;
    margin-left: -15px;
}
.profile {
    margin-right: 0%;
}
.profile::after {
    right: 0;
    width: 90px;
    border-radius: 47px 0px 0px 47px;
}


.about-shape1, .about-shape2 {
	display:none;
}

/* resum */
.resume-shape2 {
    left: 48px;
    top: -25px;
    width: 55px;
    height: 50px;
}

.my-resume.resum-right {
    margin-top: 70px;
}
.resum-left .resume-shape1 {
    right: 40px;
}

/* skill bar */
.skill-bar-wrap {
    height: 50px;
}
.skillbar-title {
    top: 12px;
}
.skill-bar-percent {
    top: 12px;
}

/* testimonial */
.testimonial .single-item {
    padding: 40px 25px;
}

.blog-content {
    padding: 25px 60px 50px;
}
.single-blog.third-blog {
    margin-bottom: 50px;
}	
.con-form-wrap:after,
.contact-form-shape1,
.contact-form-shape2 {
	display:none;
}

.contact-text {
    margin-left: 50px;
    margin-top: 0;
}
.contact .form {
    padding: 60px 30px 80px 50px;
}
.copyright-text {
    margin-top: 15px;
    margin-left: 23px;
}
.pagination li a {
    padding: 12px 20px;
}
.post-share {
    margin-top: 20px;
}
.grid-blog .single-blog {
    margin-bottom: 80px;
    margin-top: 60px;
}
.blog-content a.read-more {
    right: 57px;
    bottom: -28px;
    width: 64px;
    height: 58px;
    line-height: 58px;
}
.grid-blog .first-item .blog-content a.read-more {
    font-size: 28px;
    bottom: -37px;
    width: 85px;
    height: 75px;
    line-height: 75px;
}
.widget-cat li a {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 0;
}

}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
body{
	overflow-x:hidden;
}
.section-title {
    margin-left: 20px;
}
.info-about .small-padding {
    padding-left: 20px;
}
.banner-text-minus {
    padding-left: 35px;
}
.resum-left .resume-shape1 {
    right: 10px;
    width: 50px;
    height: 45px;
    bottom: 13px;
}
.services-item {
    padding: 35px 25px;
}
.services-item .service-icon {
    padding: 12.5px 10.5px;
    right: 30px;
    top: -25px;
}
.service-icon img {
    width: 65%;
}
.resume-item {
    padding: 30px 20px;
    padding-bottom: 0;
}
.resume-footer {
    padding-bottom: 5px;
}
.resume-head .date {
    float: left;
}
.resume-head .date:after {
    left: 0px;
}
/* skill */
.skillbar-title {
    left: 3px;
}
.skill-bar-percent {
    right: 25px;
}
/* portfolio */
.projects-filter {
    margin-left: 35px;
}
.projects-filter ul li {
    padding: 5px 15px;
    margin-bottom: 5px;
}

.sponsor {
    padding: 20px 0;
}
.blog-content {
    padding: 25px 30px 40px;
}
/* contat */
.contact-text {
    margin-left: 20px;
}
.contact .form {
    padding: 25px 25px 30px 25px;
}
.con-form-wrap {
    border-radius: 35px 0 0 0;
}
.contact .form textarea {
    min-height: 120px;
}
/* grid-blog */
.single-blog-details{
	margin-bottom:60px;
}
.pagination li a {
    padding: 6px 10px;
    margin: 0 5px;
    border-radius: 10px 0 10px 10px;
}

/* single-blog-page */
.single-blog-page .blog-desc {
    padding: 25px 30px 30px 30px;
}
.related-tag a {
    padding: 10px 14px;
    font-size: 14px;
    line-height: 18px;
}
.single-blog-page blockquote {
    padding: 0px 35px 0px 45px;
}
.single-blog-page blockquote:before {
    width: 35px;
}
.post-single-comment-box {
    padding: 15px;
}
.comment-thumb {
    width: 75px;
    height: 70px;
}
.comment-other {
    margin-left: 90px;
}
.post-single-comment-box p {
     width: 100%;
}
.reply-comment {
    margin-left: 40px;
}
.post-comment-form {
    padding: 20px 35px;
}
.post-comment-form .form {
    padding-left: 30px;
}
.post-comment-form .form textarea {
    min-height: 120px;
}
.post-comment-area h2 {
    margin-left: 20px;
}
.fabi-related-news h2 {
    margin-left: 20px;
}

}







