
/* // Large devices */
@media only screen and (max-width: 1400px) {
/* about */
.about .container-fluid-custom {
    width: 96.333%;
}
.about-desc-text {
    width: 100%;
}

.about-desc {
    margin-bottom: 50px;
}
.info-about .section-title {
    margin-bottom: 30px;
}
.info-about .small-padding {
    padding-right: 5px;
    padding-left: 5px;
}
.profile {
    padding: 50px 75px 50px 50px;
    margin-left: 0px;
}

.profile::after {
    right: -140px;
    width: 182px;
}
.box-img::after {
    right: 20px;
    bottom: 20px;
}
.info-header h1 {
    font-size: 40px;
    line-height: 55px;
}




.my-skills:before {
	display:none;
}
.my-skills:after {
	display:none;
}
.portfolio:before {
	display:none;
}
.portfolio:after {
	display:none;
}
.home-blog::before {
	display:none;
}
.home-blog::after {
	display:none;
}
.blog-content {
    padding: 25px 45px 60px;
}


}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
.container-fluid-custom {
    width: 96%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px;
}
/*responsive padding less 20*/
.pb-70 {
    padding-bottom: 50px;
}
.pt-100 {
    padding-top: 80px;
}
.pb-100 {
    padding-bottom: 80px;
}
.ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.pt-110 {
    padding-top: 90px;
}
.pb-115 {
    padding-bottom: 95px;
}

/* home */
.fabiha-bg {
    height: 600px;
}
.fabiha-bg:before {
    width: 65px;
    height: 59px;
    right: -30px;
    top: 30px;
}
.fabiha-bg:after {
    width: 65px;
    height: 59px;
    left: 35px;
    bottom: -30px;
}
.info-header {
    height: 600px;
}
.banner-text-minus {
    padding-left: 40px;
}

.box-img::before, .box-img::after {
    position: absolute;
    z-index: 1;
    content: '';
    height: 50px;
    width: 51px;
    background: #F82462;
    border-radius: 20px 0 20px 20px;
}
.box-img::before {
    top: -24px;
    left: -24px;
}
.box-img::after {
    bottom: 24px;
    right: -24px;
}
/* my resume */
.resume-item {
    padding: 50px;
    padding-bottom: 0;
}
.resume-head {
    margin-bottom: 15px;
}
.resum-left .resume-img:after {
    right: 20px;
    width: 65px;
    height: 67px;
}
.my-resume.resum-right:after {
    left: 45px;
    top: -27px;
    width: 55px;
    height: 55px;
}
/* service */
.services-item {
    padding: 35px 50px;
}
.services-item .service-icon {
    padding: 17.5px 15.5px;
}
.service-icon img {
    width: 75%;
}
	
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
body {
    font-size: 14px;
}
p{
    font-size: 14px;
	
}
h1 {
	font-size: 26px;
	line-height:48px;
}
h2 {
	font-size: 20px;
	line-height:36px;
}
h3 {
	font-size: 18px;
	line-height:28px;
}
h4 {
	font-size: 16px;
	line-height:25px;
}

.social-media li a {
    font-size: 16px;
    margin: 0 6px;
}
/* menu */
.right-menu-btn.menu-bar-hide {
    visibility: visible;
    opacity: 1;
}
.right-menu-btn.menu-bar-hide + .right-menu {
    visibility: visible;
}
.right-menu li a {
    font-size: 20px;
    padding: 15px 10px;
}
.profile::after {
    right: -123px;
    width: 182px;
}
.profile {
    margin-right: -41%;
}
.resume-head .date:after {
    width: 80px;
}



	
}



/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
/*responsive padding less 30*/
.pb-70 {
    padding-bottom: 35px;
}
.pt-100 {
    padding-top: 65px;
}
.pb-100 {
    padding-bottom: 65px;
}
.ptb-100 {
    padding-top: 65px;
    padding-bottom: 65px;
}
.pt-110 {
    padding-top: 75px;
}
.pb-115 {
    padding-bottom: 80px;
}

.navbar a.navbar-brand {
    font-size: 20px;
}
.navbar .navbar-nav .nav-link {
    font-size: 15px;
    padding: 7px 10px;
    color: #1D2063;
}
.right-menu-btn + .right-menu {
    width: 100%;
    padding: 5%;
}
.right-menu-btn.hide + .right-menu {
    right: -100%;
}
.right-menu-btn.menu-bar-hide {
    visibility: visible;
    opacity: 1;
}
.right-menu-btn.menu-bar-hide + .right-menu {
    visibility: visible;
}

.home .col-lg-7.hero-img-plus {
    max-width: 100%;
    flex: 0 0 100%;
}
.banner-text-minus {
    max-width: 100%;
    flex: 0 0 100%;
    padding-top: 70px;
}
.banner-meta {
    margin: 0 0 20px 0px;
}
.banner-meta li {
    font-size: 15px;
    line-height: 20px;
    padding: 5px;
}
.info-header {
    height: 100%;
}
.social-media {
    margin-bottom: 25px;
    margin-left: -8px;
}

.btn {
    font-size: 12px;
    padding: 7px 16px;
}
.about .container-fluid-custom {
    width: 95.333%;
}
.about-text-plus {
    max-width: 100%;
    flex: 0 0 100%;
}

.about-img-minus {
    max-width: 100%;
    flex: 0 0 100%;
}
.about-img {
    display: block;
}
.about-img img {
    width: 100%;
}
.about-desc {
    margin-left: 0;
}
.info-about {
    margin-top: 20px;
}
.info-about .section-title {
    margin-bottom: 10px;
    margin-left: 0;
}
.follow-me {
    margin-bottom: 35px;
}
.profile {
    padding: 20px 30px;
    margin-left: -15px;
}
.profile {
    margin-right: 0%;
}
.profile::after {
    right: 0;
    width: 90px;
}
.box-img::before, .box-img::after {
	display:none;
}

.my-resume.resum-right {
    margin-top: 70px;
}
.resum-left .resume-img:after {
    right: 40px;
}

.single-blog {
    margin-bottom: 100px;
}
	
.con-form-wrap:after,
.contact .form:after,
.contact .form:before {
	display:none;
}

.contact-text {
    margin-left: 50px;
    margin-top: 0;
}
.contact .form {
    padding: 60px 30px 85px 55px;
    position: relative;
    text-align: left;
}


}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
.resum-left .resume-img:after {
    right: 23px;
}	
	
	
}







