
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.service {
    display: block;
    text-align: center;
	}
	.service-icon i:before {
		margin: 0 auto 20px;
	}
	
	
	
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.mainmenu {
		text-align: center;
	}
	.mainmenu ul li a {
		padding: 25px 8px;
	}
	.about-us-tab-button {
		margin-bottom: 50px;
	}
	.single-team-member {
		margin-bottom: 30px;
	}
	.our-team-area {
		padding-bottom: 20px;
	}
	.numbers .item {
		color: #fff;
		margin-bottom: 40px;
	}
	.service {
    display: block;
    text-align: center;
	}
	.service-icon i:before {
		margin: 0 auto 20px;
	}
	.contact-from-area {
		margin-top: 51px;
	}
}

@media only screen and (max-width: 767px) {
	.mainmenu {
		display: none;
	}.slicknav_menu {
		display: block;
	}
	.menu-search-bar {
		display: none;
	}
	.slide-buttons a.boxed-btn {
		margin-bottom: 20px;
	}
	.about-us-tab-button {
		margin-bottom: 50px;
	}
	.single-team-member {
		margin-bottom: 30px;
	}
	.our-team-area {
		padding: 50px 0;
	}
	.service-area {
		padding-top: 30px;
	}
	.service {
		display: block;
		text-align: center;
	}
	.service-icon i:before {
		margin: 0 auto 20px;
	}
	.numbers .item {
		color: #fff;
		margin-bottom: 40px;
	}
/* 	slivkmenu */
	.header-logo {
		position: absolute;
		z-index: 99;
		left: 0;
		top: 0;
		width: 46px;
	}
	.slicknav_btn {
		background: transparent;
	}
	
	.slicknav_menu {
	display: block;
    position: absolute;
    right: -5px;
    height: 65px;
    width: 105%;
    z-index: 99;
    background: transparent;
    top: 8px;
}
.slicknav_nav ul {
    background: #F8F9FA;
    margin-top: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.slicknav_nav ul li a{
	color:#323232;
}
.slicknav_nav .slicknav_row:hover {
    color: #fff;
	background:#86BC42;
}
.slicknav_nav ul li a:hover{
    background: #86BC42;
	color:#fff;
}
.slicknav_nav ul li ul{
background: #F8F9FA;
}
li.slicknav_parent.slicknav_open ul {
    margin-top: 0;
    padding-top: 0;
}
.slicknav_nav ul ul li a:hover {
    background: #86BC42;
    color: #F8F9FA;
}
	.header-area {
		height: 0;
	}

	.top-left a {
		display: block;
	}
	.header-top-area {
		display: none;
	}
	.footer-copyright {
		text-align: center;
	}

	.social-icon {
		text-align: center;
	}
	.contact-from-area {
		margin-top: 51px;
	}
}
